@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Black+Ops+One&family=Dhurjati&family=Hedvig+Letters+Serif:opsz@12..24&family=Luckiest+Guy&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,500;0,900;1,900&family=Rubik+80s+Fade&family=Young+Serif&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6067806c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    width: 15%;
    height: auto;
    object-fit: contain;
}

.logoh {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

main {
    background-image: url(images/histoooory.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
}

.hitory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7171717b;
    width: 90%;
    height: 120vh;
    position: absolute;
    top: 20%;
    left: 5%;
    border-radius: 30px;
}

p {
    padding: 20px;
    text-align: justify;
}

footer {
    background-color: black;
    color: wheat;
    display: flex;
    align-items: center;
}

.logof {
    width: 2%;
    height: auto;
    object-fit: contain;
    padding: 1%;
}

.icon2 {
    position: absolute;
    top: 20%;
    left: 80%;
}

.icon3 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.icon4 {
    position: absolute;
    top: 80%;
    left: 90%;
}

